body {
	background-color: #3a5364;
	color: #fff;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	width: 100%;
}

.content {
	display: flex;
	width: 1024px;
	margin: 0 auto;
}

h1 {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

h2 {
	margin: 5px 0;
	font-size: 16px;
	text-transform: uppercase;
}

h3 {
	margin: 5px 0;
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 1px #6D889C solid;
}

hr {
	border: 1px transparent solid;
	margin: 5px 0;
}

.settings-content { margin-top: 20px; }

.nav {
	padding: 100px 10px 0 10px;
	width: 20%;
	box-sizing: border-box;
	background-color: #476880;
	min-height: 100vh;
}

.nav ul {
	list-style: none;
	padding: 0;
	margin: 2px 0 0 0;
}

.nav li {
	background-color: #43657e;
	border-bottom: 3px #3d627e solid;
	border-top-right-radius: 5px;
	margin-bottom: 8px;
}

.nav li a {
	padding: 5px;
	width: 100%;
	display: inline-block;
	color: #eee !important;
	text-decoration: none;
}

.nav li a i {
	display: inline-block;
	width: 24px;
	box-sizing: border-box;
	text-align: center;
}

#settings {
	background-color: #52748c;
	width: 80%;
	box-sizing: border-box;
	padding: 0 20px;
	padding-bottom: 20px;
}

a { color: #eee !important; }

.icon {
    text-align: center;
    flex: 0;
    padding-right: 15px;
}
.icon i {
    padding: 10px;
    border: 2px #e8e8e8 solid;
    font-size: 20px;
    display: flex;
    align-items: center; justify-content: center;
    border-radius: 100%;
    background: #52748c;
    color: #fff;
    width: 22px;
    height: 22px;
}

.header {
	margin: 0;
	width: 100%;
	display: flex;
	height: 80px;
	align-items: center;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px #476880 solid;
}

form * {
	display: block;
}

form label { margin: 4px 0; }
form input, form textarea {
    background: #fff;
    border: 1px #ccc solid;
    padding: 5px;
    border-top-right-radius: 5px;
    width: 200px;
}
form textarea {
	min-width: 300px;
	min-height: 80px;
	max-width: 770px;
	max-height: 300px;
	font-family: inherit;
	font-size: 0.84em;
}
form input:active { border-color: #aaa; }
.button:hover {
    background-color: #4c6f88;
}
.button:active {
    border: 1px #52748c solid;
    background-color: #48677e;
}

.button {
	padding: 5px 10px;
	max-width: 150px;
	background-color: #4b6c84;
	display: block;
	color: #fff !important;
	border-top-right-radius: 10px;
	float: right;
	cursor: pointer;
    border: 1px #42647b solid;
	text-decoration: none;
}
.flash {
    padding: 5px;
    color: #fff;
    border: 1px solid #700000;
    background-color: #9d0505;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 300px;
}

#current-tab {
	background-color: #3f6179;
	border-bottom: 3px #375c77 solid;
	border-top-right-radius: 5px;
}
#current-tab a { color: #eee !important; }

#current-tab a { cursor: default; }

.scopebox, .typebox {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}
.scope input, .scope label { display: inline; width: auto; line-height: 1; }
.scope span { font-size: 13px; color: #ddd; }
.type { border: 2px #6D889C solid; border-top-right-radius: 10px; padding: 5px; box-sizing: border-box; }
.type { cursor: pointer; }
.type-selected {
	border: 2px #7F94A4 solid;
	background-color: #4b6b82;
}

.app { border: 2px #6D889C solid; padding: 5px 10px; margin: 12px 0; border-top-right-radius: 10px; }
.app div { margin-bottom: 5px; }

@media only screen and (max-width:1100px) {
	.content { margin: 0; width: 100%; }
	.nav { min-width: 200px; flex: 0; }
	#settings { width: 100%; }
	.scopebox { display: block; line-height: 1.6; }
	.scope { padding: 6px 0; }
	.scope input { margin: 0; display: inline-block; width: auto; }
	.scope label { font-size: 16px; margin: 0; display: inline-block; }
	.scope span { font-size: 14px; }
	form textarea { max-width: calc(100vw - 300px); }
}

@media only screen and (max-width:620px) {
	.content { display: block; height: 100vh; box-sizing: border-box; }
	.nav { min-height: auto; width: 100%; padding: 20px; }
	#settings { height: max-content; padding-bottom: 50px; }
	.header { height: auto; display: block; }
	form textarea { max-width: calc(100% - 10px); }
}
