body {
	background-color: #3a5364;
	color: #fff;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	width: 100%;
}

.content {
	display: flex;
	width: 1024px;
	margin: 0 auto;
}

h1 {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

h2 {
	margin: 5px 0;
	font-size: 16px;
	text-transform: uppercase;
}

hr {
	border: 1px transparent solid;
}

.settings-content { margin-top: 20px; }

#nav {
	padding: 100px 10px 0 10px;
	width: 20%;
	box-sizing: border-box;
	background-color: #476880;
	height: 100vh;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 2px 0 0 0;
}

#nav li {
	background-color: #3f6179;
	border-bottom: 3px #375c77 solid;
	border-top-right-radius: 5px;
	margin-bottom: 2px;
}

#nav li a {
	padding: 5px;
	width: 100%;
	display: inline-block;
	color: #eee !important;
	text-decoration: none;
}

#nav li a i {
	display: inline-block;
	width: 24px;
	box-sizing: border-box;
	text-align: center;
	padding: 0 5px;
}

#settings {
	background-color: #52748c;
	width: 80%;
	box-sizing: border-box;
	padding: 0 20px;
	padding-bottom: 20px;
}

a { color: #eee !important; }

.icon {
    text-align: center;
    flex: 0;
    padding-right: 15px;
}
.icon i {
    padding: 10px;
    border: 2px #e8e8e8 solid;
    font-size: 20px;
    display: flex;
    align-items: center; justify-content: center;
    border-radius: 100%;
    background: #52748c;
    color: #fff;
    width: 22px;
    height: 22px;
}

.header {
	margin: 0;
	width: 100%;
	display: flex;
	height: 80px;
	align-items: center;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px #476880 solid;
}

form * {
	display: block;
}

form label { margin: 4px 0; }
form input {
    background: #fff;
    border: 1px #ccc solid;
    padding: 5px;
    border-top-right-radius: 5px;
    width: 200px;
}
form input:active { border-color: #aaa; }
.button:hover {
    background-color: #4c6f88;
}
.button:active {
    border: 1px #52748c solid;
    background-color: #48677e;
}

.button {
	padding: 5px 10px;
	max-width: 150px;
	background-color: #4b6c84;
	display: block;
	color: #fff !important;
	border-top-right-radius: 10px;
	float: right;
	cursor: pointer;
    border: 1px #42647b solid;
}

.flash {
    padding: 5px;
    color: #fff;
    border: 1px solid #700000;
    background-color: #9d0505;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 300px;
}

@media only screen and (max-width:1024px) {
	.content { margin: 0; width: 100%; }
	#nav { min-width: 200px; flex: 0; }
	#settings { width: 100%; }
}

@media only screen and (max-width:600px) {
	.content { display: block; height: 100vh; box-sizing: border-box; }
	#nav { height: auto; width: 100%; padding: 20px; }
	#settings { height: max-content; }
	.header { height: auto; display: block; }
}
