body {
	background-color: #52748c;
	color: #fff;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	width: 100%;
}

.content {
	margin: 0 auto;
	width: 1024px;
	padding: 20px;
	box-sizing: border-box;
}

h1 {
	font-family: 'Lato', sans-serif;
}

#header {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
	box-sizing: border-box;
}

#header a {
	display: flex;
	width: max-content;
	color: #fff !important;
	text-decoration: none;
}

#header a h1 {
	margin: 0;
	font-size: 2em;
}

#header a img {
	max-height: 48px;
	width: 48px;
	margin-right: 0.8em;
}

#header a * { align-self: center; }

.button {
	padding: 5px 10px;
	max-width: 150px;
	background-color: #283b4a;
	display: block;
	color: #fff !important;
	border-top-right-radius: 10px;
}

@media only screen and (max-width:1024px) {
	.content { margin: 0; width: 100%; }
}
