{% extends 'base-settings.html' %}

{% block icon %}user{% endblock %}

{% block header %}
<h1>{% block title %}account settings{% endblock %}</h1>
{% endblock %}

{% block settings %}
<div style="float: right;"><span>logged in as {{ user_name }}@{{ instance_domain }}.</span> <a href="/auth/logout">log out</a></div>
<h2>Account details</h2>
<form method="post">
	<label for="username">username</label>
	<input name="username" id="username" value="{{ user_name }}" required>
	<label for="email">e-mail</label>
	<input name="email" id="email" value="{{ user_email }}" required>
	<input type="submit" id="submit" class="button" value="submit">
</form>
{% endblock %}
