{% extends 'base-auth.html' %}

{% block header %}
  <h1>{% block title %}authorize{% endblock %}</h1>
{% endblock %}

{% block icon %}robot{% endblock %}

{% block content %}
<p>The application <strong>{{grant.client.client_name}}</strong> is requesting:
<strong>{{ grant.request.scope }}</strong>
</p>

	<p>(you are currently logged in as {{user.username}})</p>
<form action="" method="post">
  <label>
    <input type="checkbox" name="confirm">
    <span>Consent?</span>
  </label>
  {% if not user %}
  <p>You haven't logged in. Log in with:</p>
  <div>
    <input type="text" name="username">
  </div>
  {% endif %}
  <br>
  <button>Submit</button>
</form>
{% endblock %}
